body {
            font-family: 'Poppins', sans-serif;
        }
        .book-shadow {
            box-shadow: 0 10px 25px -5px rgba(245, 179, 39, 0.3);
        }
        .glow-on-hover:hover {
            filter: drop-shadow(0 0 8px rgba(245, 179, 39, 0.6));
        }
        .floating {
            animation: floating 6s ease-in-out infinite;
        }
        @keyframes floating {
            0% { transform: translateY(0px); }
            50% { transform: translateY(-15px); }
            100% { transform: translateY(0px); }
        }
        .gradient-bg {
            background: linear-gradient(135deg, #000d1f 0%, #1a2b4e 100%);
        }

        .logo{
            width: 60px;
        }